.header{
  text-align: center;
}

/*
 * Style der Tabelle
*/
.MuiDataGrid-root{
  margin-left: auto;
  margin-top: 1em;
}


#value_selection{
  width: 20em;
}

#column_selection{
  width: 10em;
}

/*
 * Style des Filterkastens
 *
*/
.menu-flex{
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: auto;
}

.table-flex{
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  padding: 5px;
  padding-right: 10px;

}

.filter-flex{
  display: flex;
  flex-direction: column;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  border-top: 1px black solid;
  padding: 5px;
  padding-right: 10px;
}

.button-flex{
  display: flex;
  flex-wrap: wrap;
}

.flex-item{
  padding-left: 10px;
  padding-bottom: 5px;
}
